{% extends "base.html" %}

{% block header %}
    <title>企业{{ userInfo['account'] }}资料 </title>
{% end %}

        {% block main %}
<form action="" method="post" enctype="multipart/form-data">
    {% raw xsrf_form_html() %}
    {% if info is None %}
    <p>名称：<input type="text" name="name"></p>
    <p>网站：<input type="text" name="website"></p>
    <p>LOGO：<input type="text" name="logo"></p>
    <p>联系人：<input type="text" name="contact"></p>
    <p>电话：<input type="tel" name="tel"></p>
    <div>简介：<textarea  name="introduction">

    </textarea></div>
    {% else %}
    <p>名称：<input type="text" name="name" value="{{ info['name'] }}"></p>
    <p>网站：<input type="text" name="website" value="{{ info['website'] }}"></p>
    <p>LOGO：<input type="text" name="logo" value="{{ info['logo'] }}"></p>
    <p>电话：<input type="text" name="contact" value="{{ info['contact'] }}"></p>
    <p>电话：<input type="tel" name="tel" value="{{ info['tel'] }}"></p>
    <div>简介：<textarea  name="introduction">
{{ info['introduction'] }}
    </textarea></div>
    {% end %}

    <button type="submit">提交</button>

</form>
        {% end %}