{% extends "base.html" %}

        {% block header %}
    <title>{{ task['name'] }}</title>
{% end %}

{% block main %}
        <div class="jumbotron">
        <h2>{{ task['name'] }}</h2>
            <small>RMB {{ task['money']}},数量：{{ task['count'] }},{{ task['createDate'] }},{{ company['name'] }},</small>
            <br/>
            <br/>

        <p>{{ task['description']}}</p>
            <br/>
      </div>

        <div class="jumbotron">
        <p>{% autoescape None %} {{ task['content']}}</p>
      </div>

       {% if userInfo['role'] == 'Author' %}
        {% if hasApply %}
        {% if applyStauts['status'] == 0 %}
            <button  type="button" class="btn btn-lg btn-success">待审核</button>{% end %}
        {% if applyStauts['status'] == 1 %}
        <button  type="button" class="btn btn-lg btn-success">申请成功</button>{% end %}
        {% if applyStauts['status'] == 2 %}
        <button  type="button" class="btn btn-lg btn-danger">已拒绝</button>
        <code>{{ applyStauts['message'] }}</code>
        {% end %}
        {% else %}
        <a href="/taskApply?id={{ task['_id'] }}" class="btn btn-lg btn-primary">申请任务</a>{% end %}{% end %}


        {% if mark %}

        <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">申请用户</div>
      <div class="panel-body">
        <p>申请该项任务的用户.</p>
      </div>

      {% if len(task['userList'])>0 %}

      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>用户</th>
            <th>状态</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for u in task['userList'] %}
        <tr><td>{{ u['account'] }}</td>
            <td>{% if u['status'] == 0 %}待审核{% end %}{% if u['status'] == 1 %}审核通过{% end %}{% if u['status'] == 2 %}已拒绝{% end %}</td>
            <td>{{ u['applyDate'] }}</td>
            {% if u['status'] == 0 %}
            <td><a class="auditTask" href="javascript:;" data-val="1">同意</a> ｜ <a class="auditTask" href="javascript:;" data-val="2">拒绝</a></td>
            {% else %}
            <td>-</td>
            {% end %}
        </tr>
        {% end %}
        </tbody>
      </table>
            {% end %}
    </div>



        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">审核</h4>
                    </div>
                    <form action="/tasks/audit" method="post" id="auditTaskForm">
                    <div class="modal-body">
                        {% raw xsrf_form_html() %}

                            <input type="hidden" name="s" value="None"/>
                            <input type="hidden" name="u" value="None"/>
                            <input type="hidden" name="id" value="{{task['_id']}}"/>
                            <textarea name="m" class="form-control" placeholder="理由"></textarea></div>
                        <p></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

        {% end %}





{% end %}



{% block footer %}
        {% if mark %}
<script>
    $('.auditTask').click(function(){
        var s = $(this).attr('data-val');
        var u = $(this).parent().parent().children('td').eq(0).text();
        $('#auditTaskForm input[name="s"]').val(s);
        $('#auditTaskForm input[name="u"]').val($(this).parent().parent().children('td').eq(0).text());
        if(s=='1'){
            $('#myModalLabel').html('同意'+u+'认领该任务？');
        }else{
            $('#myModalLabel').html('拒绝'+u+'认领该任务？');
        }

        $('#myModal').modal('show');
    });
</script>
        {% end %}
{% end %}


